# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Model-Transformation\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\Python\Github\Model-Transformation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
